%table
  %thead
  %tr
    %th First
    %th Last
    %th Phone
    %th Email
  %thead
  %tbody
    - if @contacts and @contacts.any?
      - @contacts.each do |contact|
        %tr
          %td= contact.first
          %td= contact.last
          %td= contact.phone
          %td= contact.email
          %td
            %a{href: "/contacts/#{contact.id}/edit"} Edit
            %a{href: "/contacts/#{contact.id}"} View
    - else
      %tr
        %td{colspan: 5} No contacts found.

%p
  %a.add-contact{ href: "/contacts/new" } Add Contact
