%form.contact-new-form{ action: "/contacts/new", method: "post" }
  %fieldset
    %legend Contact Values
    %p
      %label{:for => "email"} Email
      %input#email{ type: "email", name: "email", placeholder: "#{@contact.email || ''}", value: ( @contact.email or '' ) }
      %span.error= @contact.errors['email']

      %label{:for => "First Name"} First Name
      %input#first_name{ type: "text", name: "first", placeholder: "#{@contact.first || ''}", value: ( @contact.first or '' ) }
      %span.error= @contact.errors['first']

      %label{:for => "Last Name"} Last Name
      %input#last_name{ type: "text", name: "last", placeholder: "#{@contact.last || ''}", value: ( @contact.last or '' ) }
      %span.error= @contact.errors['last']

      %label{:for => "phone"} Phone
      %input#phone{ type: "text", name: "phone", placeholder: "#{@contact.phone || ''}", value: ( @contact.phone or '' ) }
      %span.error= @contact.errors['phone']
    %button Save
%p
  %a{ href: "/contacts" } Back
